[submodule "submodule"]
	path = submodule
	url = https://github.com/kamil-mrzyglod/SzkolenieGITSubmodule.git
[submodule "submodule2"]
	path = submodule2
	url = https://github.com/kamil-mrzyglod/SzkolenieGITSubmodule.git
